numpy
pandas
scipy
scikit-learn
lightgbm
mne>=1.6.0
yasa
antropy
joblib
safetensors
transformers>=4.40.0,<5.0.0
torch
matplotlib
gssc
physioex
braindecode
lunapi
lspopt
mne-bids
mne-icalabel
autoreject
pyedflib
mne-connectivity
